@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v5-latin-regular.eot'); 
    src: local(''),
         url('../fonts/barlow-v5-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), 
         url('../fonts/barlow-v5-latin-regular.woff') format('woff'), 
         url('../fonts/barlow-v5-latin-regular.ttf') format('truetype'), 
         url('../fonts/barlow-v5-latin-regular.svg#Barlow') format('svg');
  }

  @font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v10-latin-900.eot'); 
    src: local(''),
         url('../fonts/fraunces-v10-latin-900.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
         url('../fonts/fraunces-v10-latin-900.woff') format('woff'), 
         url('../fonts/fraunces-v10-latin-900.ttf') format('truetype'), 
         url('../fonts/fraunces-v10-latin-900.svg#Fraunces') format('svg');
  }