.intro .container{
    margin-bottom: 168px;
}

.intro__inset{
    padding: 137px 85px;
background-image: url(/img/Bitmap.png);
background-repeat: no-repeat;
background-size: 1280px 450px;
background-position: center
}

.intro__heading{
    @include common-heading(40px, 48px);
    margin-bottom: 24px;
}

.intro__text{
    max-width: 445px;
    width: 100%;
    @include common-text();
    opacity: 0.8;
}

@media only screen and(max-width: 689px){

    .intro .container{
        margin-bottom: 100px;
    }
    .intro__inset{
        padding: 58px 118px;
        background-image: url(/img/Bitmap__template.png);
        background-repeat: no-repeat;
        background-size: 689px 400px;
        background-position: center;
    }

    .intro__heading{
        max-width: 398px;
        width: 100%;
        @include common-heading(32px, 40px);
        margin-bottom: 24px;
    }

    .intro__text{
        @include common-text(15px, 25px);
        opacity: 0.8;
    }
}

@media only screen and(max-width: 515px){

    .intro .container{
        margin-bottom: 90px;
    }

.intro__inset{
    padding: 100px 40px;
}
}

@media only screen and(max-width: 425px){
    .intro__inset{
        padding: 87px 24px;
        padding-top: 111px;
        background-image: url(/img/Bitmap_phone.png);
        background-repeat: no-repeat;
        background-size: 327px 400px;
        background-position: center;
    }  
}

@media only screen and(max-width: 327px){
    .intro__inset{
        padding: 87px 24px;
        padding-top: 111px;
        background-image: url(/img/Bitmap_phone.png);
        background-repeat: no-repeat;
        background-size: 327px 400px;
        background-position: center;
    }

    .intro__heading{
        @include common-heading(28px, 28px);
        margin-bottom: 24px;
    }

    .intro__text{
        @include common-text(15px, 25px);
    }
}